## Stuff that should not be public
zzzOther/Testing_Flipbook_Sandbox/
Year_Specific/
modules/Student_Projects/Schanning_FinalProject.html

## R History files
.Rhistory
.Rapp.history
## R project info
.Rproj.user
.httr-oauth
